html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer}
hr,img{border:0}

body {
    background: #fff;
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';    
    font-size: 14px;
    color:rgb(119, 119, 119);
}

a {
    color: rgb(43, 88, 122);
    font-size: 11px;
    font-weight: normal;
    height: 13px;
    direction: ltr;
    zoom: 1;
    text-decoration: none;
}

a:hover, #profile a:hover {
    text-decoration: underline;
    
}

.image-upload {
    display: inline-block;
    float: right;
    opacity: 0.5;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.image-upload:hover {
    opacity: 1;
}

.image-upload img {
    cursor: pointer !important;
    margin-top: 11px;
    margin-right: 12px;
}

.image-upload > input
{
    display: none;
}
input[type="text"],
input[type="password"] {
    background: white;
    width: auto;
    border: 1px solid rgb(119, 119, 119);
    padding: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-right: 3%;
    color: rgb(119, 119, 119);
}


label{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: rgb(119, 119, 119);
}

input[type="submit"] {
    padding: 3px 8px 3.5px 8px;
    font-size: 11px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    vertical-align: top;
    overflow: visible;
    line-height: 13px;
    text-decoration: none;
    background: none;
    background-color: #6383a8;
    color: #FFF;
    border-radius: 2px;
    border: 1px solid #6383a8;
}

.MainContainer {
    width: 80%;
}

#add {
    border-radius: 2px 2px 2px 2px;
    padding: 12px;
    display: inline-block;
    width: 200px;
    float: left;
    margin-left: 45px;
}

#add textarea {
    overflow: hidden;
    border-radius: 2px;
    margin-top: 7px;
    width: 195px;
}

#add input[type="text"] {
    height: 16px;
}

#add_fromwiki {
    width: 200px;
    height: 264.5px;
    display: inline-block;
    padding-top: 12px;
    margin-right: 50px;
}

#add_fromwiki input[name="urlwiki"] {
    width: 99px;
}

#add_fromwiki input[name="urllast"] {
    width: 115px;
}

#add input:focus, #add_fromwiki input:focus, textarea:focus{
    outline: 0;
}

input#wide_submit {
    height: 33px;
    font-size: 32px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgba(153, 173, 194, 0.9) !important;
}

.btn {
  background: #a1cae3;
  background-image: -webkit-linear-gradient(top, #a1cae3, #5b99bf);
  background-image: -moz-linear-gradient(top, #a1cae3, #5b99bf);
  background-image: -ms-linear-gradient(top, #a1cae3, #5b99bf);
  background-image: -o-linear-gradient(top, #a1cae3, #5b99bf);
  background-image: linear-gradient(to bottom, #a1cae3, #5b99bf);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  margin-top: 2px;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #a1cae3;
  background-image: -webkit-linear-gradient(top, #a1cae3, #6aa6cf);
  background-image: -moz-linear-gradient(top, #a1cae3, #6aa6cf);
  background-image: -ms-linear-gradient(top, #a1cae3, #6aa6cf);
  background-image: -o-linear-gradient(top, #a1cae3, #6aa6cf);
  background-image: linear-gradient(to bottom, #a1cae3, #6aa6cf);
  text-decoration: none;
  cursor: pointer;
}

div.page {
    background: white;
    border: 1px solid #6ECCC4;
    width: 700px;
    margin: 30px auto;
}

h1 {
    color: rgba(153, 173, 194, 0.4);
    font-size: 29px;
    font-weight: normal;
    font-family: 'Calibri';
    cursor: default;
}


div.page div.navigation {
    background: #DEE9E8;
    padding: 4px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    color: #888;
    font-size: 12px;
    letter-spacing: 0.5px;
}

div.page div.navigation a {
    color: #444;
    font-weight: bold;
}

.all {
    background: #E9EDF1;
    border-radius: 2px 0px 0px 2px;
    margin-bottom: 3px;
}

h2 {
    font-size: 23px;
    color: #45688E;
    border-radius: 2px;
    display: inline-block;
    margin-top: -5px;
}

h2.name {
    margin-top: 0px;
    width: auto;
    font-size: 19px;
    color: #4e7097;
    background: #E9EDF1;
    background-image: -webkit-linear-gradient(top, #E9EDF1, #ffffff);
    background-image: -moz-linear-gradient(top, #E9EDF1, #ffffff);
    background-image: -ms-linear-gradient(top, #E9EDF1, #ffffff);
    background-image: -o-linear-gradient(top, #E9EDF1, #ffffff);
    background-image: linear-gradient(to bottom, #E9EDF1, #ffffff);
    padding: 4px;
    border-radius: 0px 0px 2px 0px;
    display: inline-block;
}

div.page div.body {
    padding: 10px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}

span.followstatus {
    font-size: 12px;
    cursor: pointer;
    color: YellowGreen;
}

span.unfollow {
    font-size: 12px;
    cursor: pointer;
    color: Tomato;
}

.unfollow, .followstatus, .show, .edit, #delete{
    position: absolute;
}

#delete {
    margin-left: 15px;
}

.edit, #delete {
    opacity: 0.6;
}

.edit:hover, #delete:hover {
    opacity: 1;
}

div.page ul.tags {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

div.page ul.tags li {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #DBF3F1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 48px;
}


div.page ul.tags li img {
    float: left;
    padding: 0 10px 0 0;
}

div.page ul.tags li small {
    font-size: 0.9em;
    color: #888;
}

div.page div.twitbox {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #94E2DA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

h3 {
    margin: 0;
    color: rgb(119, 119, 119);
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 11px;
    font-weight: normal;
    line-height: 16.5px;
}

h3.tagANDobject {
    opacity: 0.6;
}

div.page div.twitbox p {
    margin: 0;
}

div.page div.twitbox input[type="text"] {
    width: 585px;
}

div.page div.twitbox input[type="submit"] {
    width: 70px;
    margin-left: 5px;
}

ul.flashes {
    list-style: none;
    margin: 0px 0px 5px 0px;
    padding: 0;
}

ul.flashes li {
    text-align: center;
    background: #E9EDF1;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 11px;
    color: rgb(119, 119, 119);
}

.fill img {
    height: 13px;
    width: 13px;
}

.fill {
    cursor: default;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    color: Orange;
    opacity: 0.5;
}

.fill:hover {
    opacity: 0.9;
    cursor: pointer;
}

.fill_example {
    cursor: default;
    font-weight: bold;
    font-size: 23px;
    color: Orange;
    opacity: 0.3;
}

.fill_example:hover {
    opacity: 1;
    cursor: pointer;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

li{
    
    list-style: none;
}

#add_linked_tag {
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    border: 4px solid #E9EDF1 ;
}

#add_linked_tag:hover {
    opacity: 1;
}

#add_linked_tag img {
    position: absolute;
    margin-top: 10px;
}

.pushed {
    opacity: 1 !important;
}

#profile, #profile a {
    opacity: 0.3;
    color: #E8EFF7;
    font-weight: bold;
    font-size: 13px;
}


.linked_box {
    margin: 15px 0px;
    display: block;
    width: 97%;
}


.linked_box_in_object {
    width: auto;
    max-width: 99%;
    display: inline-block;
    background-color: #E9EDF1;
    border: 6px solid #E9EDF1;
    border-radius: 2px;
    margin: 0px 0px 15px 0px;
    height: auto;
}


.linked a {
    text-decoration: none;
    color: rgba(44,126,118,0.6);
    background-color: #E9EDF1 ;
    border: 4px solid #E9EDF1 ;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 6px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.linked a:hover{
    color: #FFFFFF;
    background-color: #4e8397;
    border-color: #4e8397;
}

.linked p {
    border: 4px solid #E9EDF1 ;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 6px;
    display: inline-block;
    font-size: 11px;
}


#window {
    width: auto;
    max-width: 99%;
    background-color: #E9EDF1;
    border: 10px solid #E9EDF1;
    border-radius: 2px;
    border-radius: 2px;
    display: none;
    opacity: 1;
    height: auto;
}

.linked_new a {
    font-size: 11px;
    text-decoration: none;
    color: rgba(44,126,118,0.6);
    background-color: #E9EDF1 ;
    border: 4px solid #E9EDF1 ;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 6px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.empty {
    color: rgb(119, 119, 119);
    border: 4px solid #E9EDF1 ;
    opacity: 0.3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 6px;
    font-size: 11px;
    display: inline-block;
}

.linked_new a:hover{
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4EBE37;
    border-color: #4EBE37;
}

h5 {
    margin: 20px 0px;
    display: block;
}

.SumoSelect p {
    color: #2C7E76;
}

form, select {
    padding: 0px;
    margin: 0px;
}

option {
    cursor: pointer;
    background-color: #CAECE9;
}

.text {
    opacity: 0;
    font-size: 25px;
    color: #6ECCC4;
}


#Boojum {
    top: 12px;
    position: absolute;
    left: 48%;
    cursor: default;
    display: inline;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 10px white;
    cursor: default;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

#Boojum:hover {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 1px white;
}


.link {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

#menu {
    width: 99%;
    display: block;
    float: left;
    padding: 6px;
    background: #4e7097;
    margin-bottom: 32px;
    box-shadow: 0px 0px 0px 32px #4e7097 !important;
    z-index: 1000000;
}

#menu a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    color: #E8EFF7;
    text-shadow: 0px 1px 0px #4e7097;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a:first-child{
    padding-left: 0px;
}

#menu a:last-child{
    padding-right: 0px;
}



li a { 
    padding: 4px;
    padding-left: 0px;
    text-decoration: none;
}

.tags li, .objects li, .people li, .mu_tags li, .mu_objects li, .mu_people li {
    width: 117px;
    padding: 2px;
    margin-top: 2px;
}



#exchange {
    display: inline-block;
    float: left;
}

.people {
    display: inline-block;
    width: 117px;
    float: right;
    margin-right: 9%;
}

.tags {
    display: inline-block;
    width: 117px;
    float: left;
    margin-left: 9%;
}

.objects {
    display: inline-block;
    width: 117px;
    padding-left: 0px;
}


.mu_objects {
    display: inline-block;
    opacity: 0;
    padding-left: 0px; 
    width: 117px;
    position: absolute;
}

.mu_tags {
    opacity: 0;
    margin-left: 15%; 
    float: left;
    position: absolute;
    width: 117px;
    z-index: -10;
}

.mu_people {
    opacity: 0.4;
    padding-left: 0px; 
    width: 117px;
    float: right;
}

.description {
    width: 98%;
    margin-bottom: 12px;
    display: block;
}

#del_obj, #del_tag {
    cursor: pointer;
    padding: 2px 6px;
    letter-spacing: 0.45px;
    display: inline;
    
}

#add_obj, #add_tag {
    padding: 2px 6px;
    display: inline;
}

#del_obj img, #del_tag img, #add_obj img, #add_tag img, .suggest img, .share img {
    width: 14px; /*may be 16px*/
    height: 14px; /*too*/
    margin-bottom: 4px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


#add_obj:hover, #add_tag:hover, #del_obj:hover, #del_tag:hover {

}

.universal_button  {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: rgb(119, 119, 119);
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
}

.universal_button:hover  {
    opacity: 1;
}

.inner_image { 
   display: inline-block;
   float: left;
   position: relative; 
   width: 200px; /* for IE 6 */
   opacity: 0.8;
}

.inner_image:hover {
    opacity: 1;
    cursor: pointer;
}

.grid-item p { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   color: white; 
   font: bold 12px Helvetica, Sans-Serif; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 6px; 
}

.already_box {
    width: auto;
    display: inline-block;
}

.already_box:hover {
}


.source {
    opacity: 0.3;
    display: inline-block;
}

.source img {
    width: 10px;
    height: 10px;
}

.source a {
    margin-right: 10px;
    opacity: 1;
    text-decoration: none;
    color: rgb(44, 126, 118);
}

.source a:hover {
    text-decoration: underline;
}

.grid-item {
    width: 200px;
    opacity: 0.8;
    float: left;
    margin-top: -3px !important;
}

.grid-item-o img {
    width: 200px;
    opacity: 0.8;
    float: left;
    margin-top: -3px !important;
}

.grid-item:hover {
    opacity: 1;
}

#grid[data-columns]::before {
    content: '3 .column.size-1of3';
}


/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%;}

img.image {
    width: 50%;
    float: left;
}

img.image:hover {
    opacity: 0.6;
}

.shroomz {
    display: inline;
    width: 60%;
    float: left;
}

.images {
    background-color: transparent;
    width: 40%;
    float: right;
    display: inline;
    height: 91%;
    overflow: hidden;
}

#grid img {
    width: 100%;
}

#grid a:hover {
    cursor: default;
    opacity: 0.8;
}

#grid p {
    font-size: 11px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
}

/*#grid #upload-file img {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 11px;
}

#grid #upload-file {
    float: left;
    padding: 0px;
    margin: 0px;
}*/

.share {
    padding: 2px 6px;
    display: inline;
    margin-left: 5px;
}

.new {
    opacity: 0;
    background:#dce4ed !important;
    border-color:#dce4ed !important;
}

.prehi {
    width: 60px;
    height: 12px;
    float: left;
    display: inline;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    border-radius: 2px 0px 0px 2px;
    font-size: 12px;
    margin-top: 18px;
}

.prehi:hover {
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.grid2 .grid-item p { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   color: white; 
   font: bold 12px Helvetica, Sans-Serif; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 4px; 
}

.grid2 .grid-item {
    width: 134px;
    opacity: 0.8;
    float: left;
    margin-top: -3px !important;
}

.grid2 .grid-item-o img {
    width: 134px;
    opacity: 0.8;
    float: left;
    margin-top: -3px !important;
}

.grid2 .grid-item:hover {
    opacity: 1;
}