body {
    font-family: 'Roboto', sans-serif;
}

#Boojum {
    position: absolute;
    left: 47.5%;
    cursor: default;
    display: inline;
    font-size: 21px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Boojum:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu {
    background: #333333;

    font-size: 19px;
    padding: 50px;
    padding-top: 25px;

}

#menu a {
    color: white;
    padding: 20px;
}

.form-control:focus {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-signin, .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input, .form-signup input {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-signup input:nth-of-type(1), .form-signin input:nth-of-type(1) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signup input:nth-of-type(2), .form-signup input:nth-of-type(3) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signup input:nth-of-type(4) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input:nth-of-type(2) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control, .form-signup .form-control{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.but {
    border: 1px solid black;
    background-color: white !important;
}

/*.but:hover {
    border: 1px solid white;
    background: #c2e59c;  
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
    background: linear-gradient(to right, #c2e59c, #64b3f4); 
}*/


.panel {
    color: white;
    font-size: 18px;
    width: 300px;
    display: inline-block;
    border: 0px !important;
    border-radius: 0px !important;
}

.panel-success > .panel-heading {
    color: white;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 0px !important;
    border: 0px !important;
}

.panel-warning > .panel-heading {
    color: white;
    border-radius: 0px !important;
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 0px !important;
    border: 0px !important;
}

.table {
    text-align: center;
}

.scopes {
    float:left; 
    width: 50%;
}

.objects {
    width: 50%;
    overflow:hidden;
}

/*stop here*/



a:hover {
    text-decoration: none;
}

.image-upload {
    display: inline-block;
    float: right;
    opacity: 0.5;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.image-upload:hover {
    opacity: 1;
}

.image-upload img {
    cursor: pointer !important;
    margin-top: 11px;
    margin-right: 12px;
}

.image-upload > input
{
    display: none;
}

label{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: rgb(119, 119, 119);
}


.MainContainer {
    width: 80%;
    display: block;
}

#add {
    border-radius: 2px 2px 2px 2px;
    padding: 12px;
    display: inline-block;
    width: 500px;
    float: left;
}

#add textarea {
    overflow: hidden;
    border-radius: 2px;
    opacity: 0;
    display: block;
    resize: none;
    width: 100%;
}

#add h3 {
    display: block;
}

#add h3:nth-of-type(2), #add h3:nth-of-type(3) {
    opacity: 0;
}

#add input[type="text"] {
    height: 16px;
    display: block;
    width: 220px;
}

#add input[name="objects"] {
    opacity: 0;
}

#add input[type="submit"] {
    opacity: 0;
}

#add_fromwiki {
    width: 200px;
    height: 264.5px;
    display: inline-block;
    padding-top: 12px;
    margin-right: 50px;
}

#add_fromwiki input[name="urlwiki"] {
    width: 123px;
}

#add_fromwiki input[name="urllast"] {
    margin-top: 7px;
    width: 140px;
}

#add input:focus, #add_fromwiki input:focus, textarea:focus{
    outline: 0;
}

input#wide_submit {
    height: 33px;
    font-size: 32px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgba(153, 173, 194, 0.9) !important;
}

div.page {
    background: white;
    border: 1px solid #6ECCC4;
    width: 700px;
    margin: 30px auto;
}


div.page div.navigation {
    background: #DEE9E8;
    padding: 4px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    color: #888;
    font-size: 12px;
    letter-spacing: 0.5px;
}

div.page div.navigation a {
    color: #444;
    font-weight: bold;
}

div.page div.body {
    padding: 10px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}

span.followstatus {
    font-size: 12px;
    cursor: pointer;
    color: YellowGreen;
}

span.unfollow {
    font-size: 12px;
    cursor: pointer;
    color: Tomato;
}

div.page ul.tags {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

div.page ul.tags li {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #DBF3F1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 48px;
}


div.page ul.tags li img {
    float: left;
    padding: 0 10px 0 0;
}

div.page ul.tags li small {
    font-size: 0.9em;
    color: #888;
}

div.page div.twitbox {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #94E2DA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.page div.twitbox p {
    margin: 0;
}

div.page div.twitbox input[type="text"] {
    width: 585px;
}

div.page div.twitbox input[type="submit"] {
    width: 70px;
    margin-left: 5px;
}

ul.flashes {
    list-style: none;
    margin: 0px 0px 5px 0px;
    padding: 0;
}

ul.flashes li {
    text-align: center;
    background: #E9EDF1;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 11px;
    color: rgb(119, 119, 119);
}

.fill img {
    height: 13px;
    width: 13px;
}

.fill {
    cursor: default;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    color: Orange;
    opacity: 0.5;
}

.fill:hover {
    opacity: 0.9;
    cursor: pointer;
}

.fill_example {
    cursor: default;
    font-weight: bold;
    font-size: 23px;
    color: Orange;
    opacity: 0.3;
}

.fill_example:hover {
    opacity: 1;
    cursor: pointer;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

li {
    
    list-style: none;
}

#add_linked_tag {
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    border: 4px solid #E9EDF1 ;
}

#add_linked_tag:hover {
    opacity: 1;
}

#add_linked_tag img {
    position: absolute;
    margin-top: 14px;
    margin-left: 6px;
}

.pushed {
    opacity: 1 !important;
}

#profile, #profile a {
    opacity: 0.3;
    color: #E8EFF7;
    font-weight: bold;
    font-size: 13px;
}


.linked_box {
    margin: 15px 0px;
    display: block;
    width: 60%;
}


.linked_box_in_object {
    width: auto;
    max-width: 99%;
    display: inline-block;
    background-color: #E9EDF1;
    border: 8px solid #E9EDF1;
    border-radius: 2px;
    margin: 0px 0px 15px 0px;
}

.linked_box_in_object p {
    opacity: 0.7;
}

.linked a {
    text-decoration: none;
    color: rgba(44,126,118,0.6);
    background-color: #E9EDF1 ;
    border: 4px solid #E9EDF1 ;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 6px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.linked a:hover{
    color: #FFFFFF;
    background-color: #4e8397;
    border-color: #4e8397;
}

.linked p {
    border: 4px solid #E9EDF1 ;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 6px;
    display: inline-block;
    font-size: 11px;
}


#window {
    width: auto;
    max-width: 99%;
    background-color: #E9EDF1;
    border: 8px solid #E9EDF1;
    border-radius: 2px;
    border-radius: 2px;
    display: none;
    opacity: 1;
    height: auto;
}

.linked_new a {
    font-size: 11px;
    text-decoration: none;
    color: rgba(44,126,118,0.6);
    background-color: #E9EDF1 ;
    border: 4px solid #E9EDF1 ;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 6px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.empty {
    color: rgb(119, 119, 119);
    border: 4px solid #E9EDF1 ;
    opacity: 0.3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 6px;
    font-size: 11px;
    display: inline-block;
}

.linked_new a:hover{
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4EBE37;
    border-color: #4EBE37;
}

h5 {
    margin: 20px 0px;
    display: block;
}

.SumoSelect p {
    color: #2C7E76;
}

form, select {
    padding: 0px;
    margin: 0px;
}

option {
    cursor: pointer;
    background-color: #CAECE9;
}


.link {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

.tags li, .objects li, .people li, .mu_tags li, .mu_objects li, .mu_people li {
    width: 117px;
    padding: 2px;
    margin-top: 2px;
}


#exchange {
    display: inline-block;
    float: left;
}

.people {
    display: inline-block;
    width: 117px;
    float: right;
    margin-right: 9%;
}

.tags {
    display: inline-block;
    width: 117px;
    float: left;
    margin-left: 9%;
}


.mu_objects {
    display: inline-block;
    opacity: 0;
    padding-left: 0px; 
    width: 117px;
    position: absolute;
}

.mu_tags {
    opacity: 0;
    margin-left: 15%; 
    float: left;
    position: absolute;
    width: 117px;
    z-index: -10;
}

.mu_people {
    opacity: 0.4;
    padding-left: 0px; 
    width: 117px;
    float: right;
}

.description {
    width: 98%;
    margin-bottom: 12px;
    display: block;
}

#del_obj, #del_tag {
    cursor: pointer;
    padding: 2px 6px;
    letter-spacing: 0.45px;
    display: inline;
    
}

#add_obj, #add_tag {
    padding: 2px 6px;
    display: inline;
}

#del_obj img, #del_tag img, #add_obj img, #add_tag img, .suggest img, .share img {
    width: 16px; /*may be 16px*/
    height: 16px; /*too*/
    margin-bottom: 4px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


#add_obj:hover, #add_tag:hover, #del_obj:hover, #del_tag:hover {

}

.universal_button  {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: rgb(119, 119, 119);
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
}

.universal_button:hover  {
    opacity: 1;
}

.inner_image { 
   display: inline-block;
   float: left;
   position: relative; 
   width: 200px; /* for IE 6 */
   opacity: 0.8;
}

.inner_image:hover {
    opacity: 1;
    cursor: pointer;
}

.grid-item p { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   color: white; 
   font: bold 12px Helvetica, Sans-Serif; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 3px; 
}

.already_box {
    width: auto;
    display: inline-block;
}

.already_box:hover {
}


.source {
    opacity: 0.3;
    display: inline-block;
}

.source img {
    width: 10px;
    height: 10px;
}

.source a {
    margin-right: 10px;
    opacity: 1;
    text-decoration: none;
    color: rgb(44, 126, 118);
}

.source a:hover {
    text-decoration: underline;
}

.grid-item {
    width: 160px;
    opacity: 0.8;
    float: left;
    margin-top: -3px !important;
}

.grid-item-o img {
    width: 200px;
    opacity: 0.8;
    float: left;
    margin-top: -3px !important;
}

.grid-item:hover {
    opacity: 1;
}

#grid[data-columns]::before {
    content: '3 .column.size-1of3';
}


/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%;}

img.image {
    width: 50%;
    float: left;
}

img.image:hover {
    opacity: 0.6;
}

.shroomz {
    display: inline;
    width: 60%;
    float: left;
}

.images {
    background-color: transparent;
    width: 40%;
    float: right;
    display: inline;
    height: 91%;
    overflow: hidden;
}

#grid img {
    width: 100%;
}

.grid-inner-image {
    opacity: 0.9;
}

.grid-inner-image:hover {
    opacity: 1;
}

#grid p {
    font-size: 11px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
}

.share {
    padding: 2px 6px;
    display: inline;
    margin-left: 5px;
}

.new {
    opacity: 0;
    background:#dce4ed !important;
    border-color:#dce4ed !important;
}

.prehi {
    width: 60px;
    height: 12px;
    float: left;
    display: inline;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    border-radius: 2px 0px 0px 2px;
    font-size: 12px;
    margin-top: 18px;
}

.prehi:hover {
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.grid2 .grid-item p { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   color: white; 
   font: bold 12px Helvetica, Sans-Serif; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 4px; 
}

.grid2 .grid-item {
    width: 134px;
    opacity: 0.8;
    float: left;
    margin-top: -3px !important;
}

.grid2 .grid-item-o img {
    width: 134px;
    opacity: 0.8;
    float: left;
    margin-top: -3px !important;
}

.grid2 .grid-item:hover {
    opacity: 1;
}

.grid2 {
    margin-top: 50px;
    opacity: 0;
    display: block;
}