body {
    background: #CAECE9;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

a {
    color: #26776F;
}

a:hover, #profile a:hover {
    color: #333;
}

input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid #BFE6E2;
    padding: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #105751;
}

input[type="submit"], span#add_tag, span#add_obj {
    background: #105751;
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
    cursor: pointer;
}

#example_add_tag, #example_add_obj  {
    background: #105751;
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
    cursor: pointer;
}


div.page {
    background: white;
    border: 1px solid #6ECCC4;
    width: 700px;
    margin: 30px auto;
}

h1 {
    color: white;
    background: #6ECCC4;
    margin: 0;
    padding: 10px 14px;
    letter-spacing: 1px;
    font-weight: normal;
    
/*  -webkit-transition:  background 1.2s;
    -moz-transition:  background 1.2s;
    -ms-transition:  background 1.2s;
    -o-transition:  background 1.2s;
    transition:  background 1.2s;*/
    cursor: default;
    display: inline-block;
}

h1:hover {
    opacity: 1;
    /*color: rgba(255, 255, 255, 1);*/
    /*cursor: help;*/
    /*text-shadow: 0 0 10px white;*/
}

div.page div.navigation {
    background: #DEE9E8;
    padding: 4px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    color: #888;
    font-size: 12px;
    letter-spacing: 0.5px;
}

div.page div.navigation a {
    color: #444;
    font-weight: bold;
}

h2 {
    margin: 0 0 15px 0;
    color: #105751;
    text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
    padding: 10px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}

span.followstatus {
    border: 1px solid #ccc;
    background: #E3EBEA;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    cursor: pointer;
}

span.unfollow {
    border: 1px solid #E3EBEA;
    background: #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    cursor: pointer;
}

div.page ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;

}

div.page ul.tags li {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #DBF3F1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 48px;
}

div.page ul.tags p {
    margin: 0;
}

div.page ul.tags li img {
    float: left;
    padding: 0 10px 0 0;
}

div.page ul.tags li small {
    font-size: 0.9em;
    color: #888;
}

div.page div.twitbox {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #94E2DA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

h3 {
    margin: 0;
    font-size: 1em;
    color: #2C7E76;
}

.tagANDobject {
    display: inline;
}

div.page div.twitbox p {
    margin: 0;
}

div.page div.twitbox input[type="text"] {
    width: 585px;
}

div.page div.twitbox input[type="submit"] {
    width: 70px;
    margin-left: 5px;
}

ul.flashes {
    list-style: none;
    margin: 10px 10px 0 10px;
    padding: 0;
}

ul.flashes li {
    background: #B9F3ED;
    border: 1px solid #81CEC6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.fill {
    background: #6ECCC4;
    border: 1px solid #6ECCC4;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    padding: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: none;
    opacity: 0.4;
    text-align: center;
}

div.fill:hover {
    opacity: 0.8;
}

.fill_example {
    background: #6ECCC4;
    border: 1px solid #6ECCC4;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    padding: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.4;
    text-align: center;
}

.fill_example:hover {
    opacity: 0.8;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

li{
    
    list-style: none;
}

.tags {
    display: inline-block;
    float: left;
    height: 30px;
    width: 116px;
}


.objects {
    display: inline-block;
    height: 50%;
    float: left;
}

.mu_objects {
    opacity: 0.4;
    padding: 0px;
    float: left;
    display: inline-block;

}
.mu_tags {
    opacity: 0.4;
    padding-left: 0px; 
    float: left;
}


.already {
    background: #105751;
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}

.already a {
    color: #CAECE9;
    text-decoration: none;
}

span.del {
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    border-left: 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    padding: 0px 3px;
    margin-left: -4px;

    font-size: 13px;
    cursor: pointer;
}

#add_linked_tag {
    background: #CAECE9;
    border: 1px solid #105751;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 1px 3px;
    font-size: 14px;
    cursor: pointer;
    color: #26776F;
}

#add_linked_tag:hover {
    background: #F0FAF9;

}

span.del:hover {
    background: #DD6F6F;
}



#profile, #profile a {
    text-decoration: none;
    opacity: 0.6;
    color: #26776F;
}

.linked, .linked a {
    text-decoration: none;
    color: #CAECE9;
    background-color: #105751;
    border: 4px solid #105751;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.linked a:hover, .already a:hover {
    color: white;
    
}
select {
    border: 1px solid #105751;
    background-color: transparent;
    color: #26776F;
    padding: 0px 3px;
    font-size: 14px;
    border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    margin-left: 0px;
    border-left: 0px;
}

select:hover {
    cursor: pointer;
}

option {
    cursor: pointer;
    background-color: #CAECE9;
}

.line {
    display: inline-block;
    width: 0px;
    margin-top: 40px;
    position: absolute;
    opacity: 0;
    height: 0.1px;
    background: #6ECCC4;
    border-color: #6ECCC4;
}

.line2 {
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: #6ECCC4;
    opacity: 0;
    position: absolute;
    margin-top: 40px;
    margin-left: 18px;
    width: 100px;
    height: 20px;
    font-size: 12px;
    padding: 3px;
    padding-left: 6px;
    color: #6ECCC4;

}

.text {
    opacity: 0;
    font-size: 25px;
    color: #6ECCC4;
}

#add {
    float: left;
    display: inline-block;
    width: 250px;
}

#catName {
    cursor: default;
    text-align: center;
    margin-left: 30%;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 10px black;
    cursor: default;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

#catName:hover {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 1px black;
}


.link {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}
