{% extends "base.html" %}
{% block content %}
<center>
<h2  class='tagANDobject'>new scope {{ tag_name }}</h2><br><h3 class='tagANDobject'>keep in mind, scope - abstract concept and your personal association with objects</h3>
<br>
<br>
<div style='width: 550px;'>
<form id="add" action="">
    <label>name</label>
    <input type="text" name="name" style="width: 120px; margin: 0px 2px;" placeholder="e.g. creepy" value="{{ tag_name }}"/>
    <input type="submit" form="add" value="add"/><br><br>
    <textarea style="display: inline-block;" rows="12" cols="30" name="description" placeholder="an overused slang term for sexually inappropriate or perverted or for attempting to derive sexual gratification through dishonorable means. Unfortunately, the word has become an abused favorite of melodramatic people who try hard to use the word wherever possible, to the point of rendering the word almost meaningless."></textarea>
    <label>objects</label>
    <input type="text" name="objects" placeholder="" value=""/>
</form>
<form id="add_fromwiki" action="">
    <h2>or add object</h2> from<br><br>
    <label>wikipedia</label>
    <input type="text" name="urlwiki" placeholder="url" style='width: 110px; margin-left: 15px;' value=""/><br>
    <label>last.fm</label>
    <input type="text" name="urllast" placeholder="url" style='width: 110px; margin-left: 30px;' value=""/><br><br><br>
    <input type="submit" form="add_fromwiki" id='wide_submit' value="submit"/>
</form>
</div>
</center>
<!-- потом над будет прикрутить драгндроп что бы удобно было назначать объекты тегу -->
<!-- <ul class="objects" style="margin-left: 50px;">
  <h1>objects</h1>
  {% for obj in show_objects %}
    <li><a href="{{ url_for('obj_page', obj=obj) }}">{{ obj }}</a>
  {% endfor %}
</ul> -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#add_fromwiki input').keyup(function() {
            if($(this).val() != ''){
                $('#add_fromwiki input[type="text"]').not(this).css('opacity', '0.2').prop( "disabled", false );
                $('#add input, #add textarea, #add').not(this).css('opacity', '0.2').prop( "disabled", true );
            }
            else{
                $('#add_fromwiki input[type="text"]').not(this).css('opacity', '1').prop( "disabled", false );
                $('#add input, #add textarea, #add').not(this).css('opacity', '1').prop( "disabled", false );
            }
        });

        $('#add input').keyup(function() {
            if($('#add input').val() != ''){
                $('#add_fromwiki input').css('opacity', '0.2').prop( "disabled", true );
            }
            else{
                $('#add_fromwiki input').not(this).css('opacity', '1').prop( "disabled", false );
            }
        });
    });
</script>
{% endblock content %}