{% extends "base.html" %}
{% block content %}
<h2>add new tag {{ tag_name }}</h2>
<form id="add" action="" >
    <label>name </label>
    <input type="text" name="name" placeholder="e.g. creepy" value="{{ tag_name }}"/>
    <input type="submit" form="add" value="add"/><br><br>
    <textarea rows="12" cols="30" name="description" placeholder="an overused slang term for sexually inappropriate or perverted or for attempting to derive sexual gratification through dishonorable means. Unfortunately, the word has become an abused favorite of melodramatic people who try hard to use the word wherever possible, to the point of rendering the word almost meaningless."></textarea><br><br>
    <label>associated<br>objects </label>
    <input type="text" name="objects" placeholder="slut, shit, fuck, frog" value="{{ tag_name }}"/>
</form>
{% endblock content %}