<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/bower_components/jquery/dist/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/send.js') }}"></script>
</head>
<body>
{% block header %}
  <big>
    <a href="/tag/add">add new tag</a> |
    <a href="/trends">popular tags</a> |
    <a href="/pop">popular objects</a>
  </big>
  {% if g.user %}
  <big style='float:right;'>
    <a href="/collection">my collection</a> |
    <a href="/logout">logout</a>
  </big>
  {% else %}
  <big style='float:right;'>
    <a href="/login">login</a>/<a href="/register">sign up</a>
  </big>
  {% endif %}
  <hr style="border-color: gray">
{% endblock header %}
{% with flashes = get_flashed_messages() %}
  {% if flashes %}
    <ul class="flashes">
    {% for message in flashes %}
      <li>{{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}{% endblock  %}
</body>
</html>