<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/bower_components/jquery/dist/jquery.js') }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/send.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/add.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/linktag.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/fill.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/follow.js') }}"></script>
</head>
<body>
{% block header %}
  <big>
    <a href="/tags/add">add new</a> |
    <a href="/">trends</a>
    <span id='catName' href="">Boojum</span>
  </big>
  {% if g.user %}
  <big style='float:right;'>
    <a href="/collection">my collection</a> <span id='profile'>[{{ g.user['username'] }}]</span> |
    <a href="/howtouse">how to use</a> |
    <a href="/logout">logout</a>
  </big>
  {% else %}
  <big style='float:right;'>
    <a href="/howtouse">how to use</a> |
    <a href="/login">login</a>/<a href="/register">sign up</a>
  </big>
  {% endif %}
  <hr style="border-color: gray">
{% endblock header %}
{% with flashes = get_flashed_messages() %}
  {% if flashes %}
    <ul class="flashes">
    {% for message in flashes %}
      <li>{{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}{% endblock  %}
</body>
</html>