{% extends "base.html" %}
{% block content %}
  <h2 class='tagANDobject'>collection</h2> <span class="link">link tables</span> to fill scopes from objects/objects from scopes and <a href="howtouse">get new stuff</a><br>
  <ul class="tags">
  <h1>scopes</h1><div class='fill'>fill from objects</div>
  {% for tag in show_tags %}
    <li><a href="{{ url_for('tag_page', tag=tag) }}">{{ tag }}</a>
  {% endfor %}
  </ul>

  <ul class="objects">
  <h1>objects</h1><div class='fill'>fill from scopes</div>
  {% for obj in show_objects %}
    <li><a href="{{ url_for('obj_page', obj=obj) }}">{{ obj }}</a>
  {% endfor %}
  </ul>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.objects').hover(function() {
      $('.objects .fill').show()
    }, function(){
      $('.objects .fill').hide()
    });
    $('.tags').hover(function() {
      $('.tags .fill').show()
    }, function(){
      $('.tags .fill').hide()
    })
  })
  </script>
{% endblock  %}