{% extends "base.html" %}
{% block content %}
  <div class="all">
	  <div class="panel panel-success scopes">
	    <!-- Default panel contents -->
	    <div class="panel-heading"><strong>Tags</strong></div>


	    <!-- Table -->
	    <table class="table">
	      {% for tag in show_tags %}
	      <tr>
	        <td><a href="{{ url_for('tag_page', tag=tag) }}">{{ tag }}</a></td>
	      </tr>
	      {% endfor %}
	    </table>
	  </div>
	  <div class="panel panel-warning objects">
	    <!-- Default panel contents -->
	    <div class="panel-heading"><STRONG>Objects</STRONG></div>


	    <!-- Table -->
	    <table class="table">
	      {% for obj in show_objects %}
	      <tr>
	        <td><a href="{{ url_for('tag_page', tag=tag) }}">{{ obj }}</a></td>
	      </tr>
	      {% endfor %}
	    </table>
	  </div>
  </div>
  
  <!-- <ul class="people">
  <h3>people</h3>
  {% for friend in show_friends %}
    <li><a href="{{ url_for('user', user=friend) }}">{{ friend }}</a></li>
  {% endfor %}
  </ul> -->
  <script type="text/javascript">
  /*$(document).ready(function(){
    $('.objects').hover(function() {
      $('.objects .fill').show()
    }, function(){
      $('.objects .fill').hide()
    });
    $('.tags').hover(function() {
      $('.tags .fill').show()
    }, function(){
      $('.tags .fill').hide()
    })
  })*/
  </script>
{% endblock  %}