{% extends "base.html" %}
{% block content %}
  {% if not g.user %}
  <h2>meet Boojum, here you can bind any favorite thing with abstract and <i>cross-style</i> personal associations(<i>scopes</i>)</h2>
  <h3>this is a base of <i>all objects</i> in the world and your <i>associative links</i> between them. be able to find movies by music, music by books, books by art and even art by food - isn't it great.?<br>
  based on your interests and <i>personal behavior</i>, using his <i>powerful intelligence</i>, Boojum will suggest you realy suitable stuff from any direction, <a href="/register">try it now</a> and get a lot of nice things
  </h3><br>
<h3 style="float: right; margin-right: 7%;">..or read <a href="/howtouse">how to use</a> page if you dont understand anything</h3>
  {% else %}
  <h2 class='tagANDobject'>all trends</h2><h3 class='tagANDobject'> ..show <u>popular</u>, <u>newest</u></h3><br>
  {% endif %}
  <ul class="tags">
  <h1>scopes</h1><hr class='line'>
<!--   <span class='line2'>word or phrase-association</span>
  <span class="text">abstract</span> -->
  {% for tag in show_tags %}
    <li><a href="{{ url_for('tag_page', tag=tag) }}">{{ tag }}</a>
  {% endfor %}
  </ul>
  <ul class="objects">
  <h1>objects</h1><hr class='line'>
  <span class='line2'>music, game, book, movie, place, event etc</span>
  <span class='text'>artwork</span>
  {% for obj in show_objects %}
    <li><a href="{{ url_for('obj_page', obj=obj) }}">{{ obj }}</a>
  {% endfor %}
  </ul>
<script type="text/javascript">
/*$(document).ready(function(){

     $('.objects h1').hover(function(){

      $('.objects .line').animate({
        width: '20px',
      }, 300, 'easeOutExpo', function() {
        $('.objects .line2').css('border-color', 'rgba(110, 204, 196, 0.8)');
        $('.objects .line2').animate({
          'height': '10px',
        }, 200, function(){

          $('.objects .line2').animate({
          'width': '250px',
          opacity: 0.8,
        }, 500);
        });
        $('.objects .line').animate({
          opacity: 0.8,
        }, 200);
        $('.objects .text').animate({
          opacity: 0.8,
        }, 200);
      })
    }, function(){
      
      $('.objects .line').animate({
        opacity: 0,
        width: '0px',
      }, 1);
      $('.objects .line2').css('border-color', 'rgba(110, 204, 196, 0.8)');
      $('.objects .line2').animate({
        'height': '0px',
      }, 1, function(){
        $('.objects .line2').animate({
        opacity: 0,
        'width': '0px',
      }, 1)
      });
      $('.objects .line2').css('border-color', 'rgba(110, 204, 196, 0.8)');
      $('.objects .text').animate({
          opacity: 0,
        }, 1);
    });

    $('.tags h1').hover(function(){

      $('.tags .line').animate({
        width: '20px',
        opacity: 0.1,
      }, 300, 'easeOutExpo', function() {
        $('.tags .line2').css('border-color', 'rgba(110, 204, 196, 0.8)');
        $('.tags .line2').animate({
          'height': '10px',
        }, 200, function(){

          $('.tags .line2').animate({
          'width': '150px',
          opacity: 0.8,
        }, 500);
        });
        $('.tags .line').animate({
          opacity: 0.8,
        }, 200);
        $('.tags .text').animate({
          opacity: 0.8,
        }, 200);
      })
    }, function(){
      
      $('.tags .line').animate({
        opacity: 0,
        width: '0px',
      }, 1);
      $('.tags .line2').css('border-color', 'rgba(110, 204, 196, 0.8)');
      $('.tags .line2').animate({
        'height': '0px',
      }, 1, function(){
        $('.tags .line2').animate({
        opacity: 0,
        'width': '0px',
      }, 1)
      });
      $('.tags .line2').css('border-color', 'rgba(110, 204, 196, 0.8)');
      $('.tags .text').animate({
          opacity: 0,
        }, 1);
    });
});*/
</script>
{% endblock  %}