{% extends "base.html" %}
{% block content %}
  <h2>How to get recomendations thru Boojom?</h2>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  <br><br>

  <h2>Answer to The Ultimate Question of Life, the Universe, and Everything?</h2>
  <h3><a href="42">42</a>
<script type="text/javascript">

</script>
{% endblock  %}