{% extends "base.html" %}
{% block content %}
<center>
  <h2>How to get interesting stuff thru Boojom?</h2>
  <h3>Add some scopes and objects by clicking <span id="example_add_tag">add scope to collection</span> and <span id="example_add_obj">add object to collection</span></h3><br>
  <h3>Fill the <i>scopes</i> and <i>objects</i> tables by clicking <sup class='fill_example' disabled='true'>+</sup><br> Through this you can extend your collection with most relevant things.
  </h3><br>
  <h3>Find authors of favorite <i>scopes</i> and follow them, thus you will receive info about new scopes and objects which user has added.<br> Hover on 'scopes' and 'objects' title and you'll see mutual data.</h3><br>
  <h3>PROFIT!</h3>
  <br><br>

  <h2>Answer to The Ultimate Question of Life, the Universe, and Everything?</h2>
  <h3><a href="42">42</a></h3>
</center>
<script type="text/javascript">

</script>
{% endblock  %}