{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width: 900px;">
  <br>
  <p>Is a very useful tool for finding music, movies, cartoons, pictures, illustrations and books through your <i>associations</i>.</p>
  <p>For example you in love with one music album and it causes tremulous feelings inside you when you listen it, you want more and more music like this.
  You may describe it in common tags, like genres devided tags - pop, ambient, idm etc., in some cases you can also devide it into years and region partition or even searching Last.fm for similar artists. 
  But it still will not be not enough to find really similar music.</p>
  <p>And we're sure that you have you own associations with this album, you may say "this is so <u>aeriform</u> and <u>empyreal</u>", or "<u>dry and dusty like surface in the Grand Canyon</u>". And all this associations will be <i>tags</i>, that will help you to find <i>really sought-for indispensable</i> music.</p>
</div>
{% endblock  %}