<script type="text/javascript">
	var object_id = '{{ id }}';
	console.log(object_id);
</script>
{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
    $('.yeah').SumoSelect({placeholder: '...select tags'});
	    $('.SumoSelect').hover(function() {
	    	$('.optWrapper').addClass('open');
	    }, function() {
			$('.optWrapper').removeClass('open');
	    });
});
</script>
<center>
<h2>{{ name }}</h2>
</center>
<h3 class='description'>{{ description }}</h3>
<div class='images'>
<div id="grid" data-columns>
{% for img in images %}
<a href="/static/images/{{ img }}" target='_blank'><img src="/static/images/{{ img }}"></a>
{% endfor %}
</div>
<form id="upload-file" style='width: 50%;' method="post" enctype="multipart/form-data">
<div style="text-align: center; overflow: hidden; width: 200%; background-color: #eff1f3; cursor: pointer;">
<div style="color: #738392; font-size: 20px; font-weight: bold; width: 100%; height: 20px; float: left; cursor: pointer;"><br>add image</div>
<input type="file" name="file" id="file" size="1" style="margin-top: -50px; margin-left:-410px; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 100px">
</div>
</form>
</div>
<h5 class='source' style="display: inline-block; margin-bottom: 12px;"><img src="/static/external_link.gif"> <a id='source' href="{{ source }}" target='_blank'>{{ source }}</a></h5>
<script type="text/javascript">
	var source = '{{ source }}';
	var source = decodeURIComponent(source);
	document.getElementById("source").innerText = source;
</script>
<br>
<div class="already_box">
{% if g.user %}
	{% if myObj %}
			<span class="already">in your <a href="/collection">collection</a></span>
			<div id="del_obj" type="submit"></div>
		{% else %}
			<span id="add_obj" class='btn' type="submit">add to collection</span>
	{% endif %}
{% else %}
<span class='simple'>..<a href="/login">login</a> or <a href="/register">sign up</a> and put this tag in your own collection</span>
{% endif %}
</div>
</center>
<div class='linked_box_in_object'>
	<span class='linked'>
		{% for tag in show_tags %}
			<a href="{{ url_for('tag_page', tag=tag) }}">{{ tag }}</a>  
		{% endfor %}
	</span>
	{% if g.user %}
	<form class='linkedform'>
		<select multiple="multiple" class='yeah'>
			{% for ut in user_tags %}
				<option value="{{ut._id}}">{{ut.name}}</option>
			{% endfor %}
		</select>
	</form>
	<div id="add_linked_tag" type="submit">&#10004;</div>
	{% else %}
	{% endif %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/salvattore.min.js') }}"></script>
{% endblock content %}