{% extends "base.html" %}
{% block content %}
  <form class="form-signup" method='post'>
    <label for="inputEmail" class="sr-only">Username</label>
    <input name="username" type="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">E-mail</label>
    <input name="email" type="email" id="inputPassword" class="form-control" placeholder="E-mail" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password2" type="password" id="inputPassword" class="form-control" placeholder="Password again" required>
    <br>
    <button class="btn btn-lg btn-block but" type="submit">Sign up</button>
  </form>
{% endblock content %}