{% extends "base.html" %}
{% block content %}
<h1>try Boojom</h1>
<h3>Boojom associations service - get the full list of recommendations specially cooked from the best art for YOU, username!</h3><br>
<form id="signup" action="" >
    <label></label>
    <input type="text" name="username" placeholder="peppermint butler" value="{{ username }}"/><br>
    <input type="text" name="email" placeholder="pepbut84@gmail.biz" value="{{ email }}"/><br><br>
    <input type="submit" form="signup" value="sign up"/>
</form>
{% endblock content %}