{% extends "base.html" %}
{% block content %}
<h2>{{ name }}</h2>
<h3>{{ id }}</h3>
<h4>{{ description }}</h4>
objects
<span class='linked'>
	{% for obj in show_objects %}
		<a href="{{ url_for('obj_page', obj=obj) }}">{{ obj }}</a>  
	{% endfor %}
</span>
<br><br>
{% if g.user %}
	{% if myTag %}
		<span class="already">tag in <a href="/collection">your collection</a></span>
		<span id="del_tag" class='del' type="submit">x</span>
	{% else %}
		<span id="add_tag" type="submit">add tag to collection</span>
	{% endif %}
{% else %}
<span class='followstatus'>..<a href="/login">login</a> or <a href="/register">sign up</a> and put this tag in your own collection</span>
{% endif %}
{% endblock content %}