{% extends "base.html" %}
{% block content %}
<center>
<h2>{{ name }}</h2>
<!-- <h3>{{ id }}</h3> -->
</center>
<h3>{{ description }}</h3>
{% if g.user['username'] == creator %}
<h5 class='creator'>by <a href="{{ url_for('user', user=creator) }}">{{ creator }}</a> <span style="opacity: 0.4;">(you can <a href="">edit</a> or <a id="delete" href="/collection">delete</a> this page)</span></h5>
{% else %}
<h5>by <a href="{{ url_for('user', user=creator) }}">{{ creator }}</a></h5>
{% endif %}
objects in this scope 
<span class='linked'>
	{% for obj in show_objects %}
		<a href="{{ url_for('obj_page', obj=obj) }}">{{ obj }}</a>  
	{% endfor %}
</span>
<br><br>
{% if g.user %}
	{% if myTag %}
		<span class="already">tag in <a href="/collection">your collection</a></span>
		<span id="del_tag" class='del' type="submit">x</span>
	{% else %}
		<span id="add_tag" type="submit">add tag to collection</span>
	{% endif %}
{% else %}
<span class='followstatus'>..<a href="/login">login</a> or <a href="/register">sign up</a> and put this tag in your own collection</span>
</center>
{% endif %}
{% endblock content %}