{% extends "base.html" %}
{% block content %}
  <h2 class='tagANDobject'>{{ user_name }}'s collection</h2>
  {% if g.user %}
    {% if Friend %}
    <span class='unfollow' type="submit">unfollow</span>
    {% else %}
    <span class='followstatus' type="submit">follow</span>
    {% endif %}
  {% else %}
  {% endif %}
  <br>
  <ul class="tags">
  <h1>scopes</h1>
  {% for tag in show_tags %}
    <li><a href="{{ url_for('tag_page', tag=tag) }}">{{ tag }}</a>
  {% endfor %}
  </ul>
  {% if g.user %}
  <ul class="mu_tags">
  <h1>mutual</h1>
  {% for mu_tag in show_mu_tags %}
    <li><a href="{{ url_for('tag_page', tag=mu_tag) }}">{{ mu_tag }}</a>
  {% endfor %}
  </ul>
  {% endif %}
  <ul class="objects">
  <h1>objects</h1>
  {% for obj in show_objects %}
    <li><a href="{{ url_for('obj_page', obj=obj) }}">{{ obj }}</a>
  {% endfor %}
  </ul>
  {% if g.user %}
  <ul class="mu_objects">
  <h1>mutual</h1>
  {% for mu_obj in show_mu_objects %}
    <li><a href="{{ url_for('obj_page', obj=mu_obj) }}">{{ mu_obj }}</a>
  {% endfor %}
  </ul>
  {% endif %}
  <script type="text/javascript">
    var userName = '{{ user_name }}';
    console.log(userName);
  </script>


{% endblock  %}